.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}
.bg{
  margin: 0px;
  width: 70%;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.blur{
  position: absolute;
  width: 50%;
  height: 50%;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border: 764px;
  background: rgba(25, 55, 109, 0.4);
  filter: blur(100px);
  z-index: 0;
}

.addTask{
  margin: 30px;
}

.title{
  font-size: 30px;
  text-align: center;
}